Ex01/Ex01.dtd

<!ELEMENT books (serie*)>
<!ELEMENT serie (book*)>
<!ATTLIST serie name CDATA #REQUIRED>
<!ATTLIST book tome CDATA #REQUIRED>
<!ELEMENT book (titre, auteur, genres, datePublication)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (nom, prenom+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT genres (genre*)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT datePublication (#PCDATA)>
<!ATTLIST datePublication forma CDATA #FIXED "dd/mm/yyyy">
